body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}
.background-image {
    background-image: url('https://th.bing.com/th/id/OIP.LiEIo9c3-kCQ-2K3D980IQAAAA?pid=ImgDet&w=192&h=136&c=7&dpr=1.5'); 
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px); 
}
header {
    backdrop-filter: blur(8px); 
    background-color: rgba(255, 255, 255, 0.7); 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1em;
    text-align: center;
    font-size: larger;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
section {
    padding: 50px;
}
section h2 {
    color: #32137d;
}
section h3 {
    color: #15137d;
}
section img {
    border-radius: 2%;
}
.home-content p{
    color:rgb(15, 18, 23) ;
}
section p {
    color: #f0edea;
}
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 1em;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(34, 26, 26);
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #2c3e50;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #2980b9;
}
nav .search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}
nav input[type="text"] {
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}
nav button {
    margin-left: 8px;
    padding: 8px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
nav button:hover {
    background-color: #2980b9;
    color: rgb(33, 24, 24);
}